{% load static %}


<div class="overlay">
    <div class="overlay__categories">
        <p>Categories</p>
        <ul>
            <li><a href="">Grocery</a></li>
            <li><a href="">Beverages</a></li>
            <li><a href="">Other Categories</a></li>
        </ul>
    </div>

    <div class="overlay__center">
        <img src="{% static 'img/bg.jpg' %}" class="img-responsive" />
    </div>

    <div class="overlay__right">
        <div class="overlay__rightSectionOne">
            <p>FAQ</p> <br />
            <ul>
                <li>
                    <a href="">
                        <h3>Help Center</h3>
                        <p>Guide to Customer care</p>
                    </a>
                </li>

                <li>
                    <a href="">
                        <h3>Easy Return</h3>
                        <p>Quick Refund</p>
                    </a>
                </li>

                <li>
                    <a href="">
                        <h3>Service</h3>
                        <p>Available 24 hours</p>
                    </a>
                </li>

                <li>
                    <a href="">
                        <h3>Delivery hours</h3>
                        <p>7am to 6pm</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>